[target.'cfg(all(windows, target_env = "msvc"))']
rustflags = ["-C", "link-arg=/STACK:8388608"]

[target.'cfg(all(windows, target_env = "gnu"))']
rustflags = ["-C", "link-arg=-Wl,--stack,8388608"]

[target.aarch64-linux-android]
rustflags = ["-C", "link-arg=-fuse-ld=lld"]

[env]
OPENSSL_STATIC = "1"
OPENSSL_NO_VENDOR = "0"
OPENSSL_LIB_DIR = ""
OPENSSL_INCLUDE_DIR = ""
OPENSSL_DIR = ""
